@media(max-width:1000px){
  footer{
    text-align:center;
  }
  .menu-icon{
    display:none;
  }
}

@media(max-width:670px){
  .header-right{
    display:none;
  }
  .menu-icon{
    display:block;
  }
  .uni_life-content{
    width:100%
  }
  .dream p{
    width:50%
    float:left;
  }
}
